* {
	padding:0;
	margin:0;
	list-style-type: none;
	text-decoration: none;
}

body {
	background-image: url(image/bg1.jpeg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.myName {
	font-size: 80px;
	text-align: center;
	color: #ffffff;
	margin-top: 150px;
	font-family: cursive;
}
.slogan {
	color: #c1c1c1;
	text-align: center;
	margin-top: 20px;
	font-size: 24px;
}

.nav {
	color: #ffffff;
	position: relative;
	margin: 50px auto;
	width: 320px;
}
.nav a {
	margin: 20px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	float: left;
	display: block;
	border: 2px solid #ffffff;
	border-radius: 50%;
	background: #ffffff;
	color: #666;
}

.nav a:hover {
	background: none;
	color: #ffffff;
	transition: background 0.3s;
	-moz-transition: background 0.3s;	/* Firefox 4 */
	-webkit-transition: background 0.3s;	/* Safari å’Œ Chrome */
	-o-transition: background 0.3s;  /* Opera */
}